<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= title %></title>
  </head>
  <body>
    <pre>
    Not found :(
    Try <a href="somewhere://<%= path %>">here.</a>
    </pre>
  </body>
</html>

