<!DOCTYPE html>
<html lang="en" manifest="<%= path + ".appcache" %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= title %></title>
  </head>
  <body>
    <pre>
    Not found :(
    </pre>

    Perhaps you meant one of these ? 
    
    <%- "\n<ul class='matches'>\n" + 
        matches.sort().map( function(m){
          return " <li>\n  <a href='/" + m.path + "'>" + m.path + "</a>\n </li>";
        }).join("\n") +
        "\n</ul>" %>
  </body>
</html>

