<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= title %></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//s3.amazonaws.com/chicagogrooves.com/js/mediaelement-and-player.min.js"></script>
	<link rel="stylesheet" href="//s3.amazonaws.com/chicagogrooves.com/stylesheets/mp/mediaelementplayer.min.css" />
  </head>
  <body>
    <pre>
    No exact match found for '<%= path %>'
    </pre>

    Perhaps you meant one of these ? 
    
    <%- "\n<ul class='matches'>\n" + 
        matches.sort( function(a,b){ return (a.path == b.path) ? 0 : (a.path > b.path) ? 1 : -1})
               .map( function(m){
          return " <li>\n" + 
                 "  <a href='/" + m.path + "'>" + m.name + "</a>\n" + 
				 "  <audio src='/" + m.path + "' type='audio/mp3' controls='controls'></audio>\n" +
                 " </li>";
        }).join("\n") +
        "\n</ul>" %>
	
	<script type="text/javascript">
	$(function (jQuery) {
	    // make an array for the mediaelement players
	    var mediaElementPlayers = new Array();

	    // run mediaelement.js (Ignore options)
	    jQuery('audio').mediaelementplayer({
	        iPadUseNativeControls: false,
	        iPhoneUseNativeControls: true,
	        AndroidUseNativeControls: false,
	        pauseOtherPlayers: true,
	        success: function (mediaElement, domObject) {
	            // add this mediaelement to the mediaElementPlayers array
	            mediaElementPlayers.push(mediaElement);
	            //console.log(mediaElement);
	            mediaElement.addEventListener('ended', function (e) {
	                playNext(e.target);
	            }, false);
	        },
	        keyActions: []
	    })

	    // find the current player and start playing the following player
	    function playNext(currentPlayer) {
	        for (i = 0; i < mediaElementPlayers.length; i++) {
	            if (mediaElementPlayers[i] == currentPlayer) {
	                if (mediaElementPlayers[i + 1] == undefined) { // If this is the last player Start from the beginning
	                    //mediaElementPlayers[0].play();
	                } else { // Start the next player
	                    mediaElementPlayers[i + 1].play();
	                }
	            }
	        }
	    }
	});	</script>
  </body>
</html>

