<!DOCTYPE html>
<html lang="en" manifest="<%= path.replace(/\/$/g, '') + ".appcache" %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= title %></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//s3.amazonaws.com/chicagogrooves.com/js/mediaelement-and-player.min.js"></script>
	<link rel="stylesheet" href="//s3.amazonaws.com/chicagogrooves.com/stylesheets/mediaelementplayer.min.css" />
  </head>
  <body>
    <pre>
    No exact match found for '<%= path %>'
    </pre>

    Perhaps you meant one of these ? 
    
    <%- "\n<ul class='matches'>\n" + 
        matches.sort( function(a,b){ return (a.path == b.path) ? 0 : (a.path > b.path) ? 1 : -1})
               .map( function(m){
          return " <li>\n" + 
                 "  <a href='/" + m.path + "'>" + m.name + "</a>\n" + 
				 "  <audio src='/" + m.path + "' type='audio/mp3' controls='controls'></audio>\n" +
                 " </li>";
        }).join("\n") +
        "\n</ul>" %>
	
  </body>
</html>

